<!-- Add to cart form -->
<form action="/add-to-cart" method="POST">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="number" name="quantity" value="1">
    <button type="submit">Add to Cart</button>
</form>